<H3>Educacion</H3>

<table border="0">
    <ul *ngFor="let educacion of education">
        <li>
            <tr>
                <td>{{ educacion.fecha }}</td> <td>{{ educacion.ubicacion }}</td>
            </tr>
            <tr>
                <td>{{ educacion.carrera }}</td> <td> </td>
            </tr>
            <tr>
                <td>{{ educacion.facultad }}</td> <td> </td>
            </tr>
            <tr>
                <td> Logros </td>
            </tr>
            <ul *ngFor="let logro of educacion.logros">
                <li>
                    <tr>
                        <td>{{ logro.descripcion }}</td>
                    </tr>
                </li>
            </ul>
        </li>
    </ul>
</table>