<header>
    <div>
      <p>Jorge Luis Tuz Moreno</p>
      <p>Ser SNI 3, y tener cuadritos</p>
    </div>
    <img src="https://firebasestorage.googleapis.com/v0/b/mycvjorge.appspot.com/o/Imagen%20de%20WhatsApp%202024-09-22%20a%20las%2014.50.30_4da7ac65.jpg?alt=media&token=71a35414-e864-4f08-b629-b9a119d2641e" alt="Jorge Luis Tuz Moreno">
    <ul>
      <li>jorge.luis.33882&#64;gmail.com</li>
      <li>2712177000</li>
      <li>Córdoba, Veracruz</li>
      <li>JorgeLuisTuzMoreno</li>
    </ul>
  </header>
  